body{
			background:linear-gradient(to right,red,yellow);	
		}
		.container{
			text-align: center;
		}
		h1{
			font-size: 80px;
			letter-spacing: 30px;
			font-weight: bold;
			font-style: oblique;
		}
		.color #left{
			width:100px;
			height:50px;
			margin-right:50px;

		}
		.color #right{
			width:100px;
			height:50px;
			margin-left:50px;	
		}
		#caption,#colorValue{
			font-size:2em;
		}
		#random{
			text-shadow: 3px 2px 4px;
			background: transparent;
			background-color: green;
			border-radius: 10px;
			width: 100px;
			height:20px;
		}